{
  "presets": ["es2015","stage-0"],
  "plugins":["transform-runtime","transform-es3-member-expression-literals","transform-es3-property-literals",["transform-es2015-classes", {
      "loose": true
    }],"transform-object-set-prototype-of-to-assign"]
}